name: Build Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
        matrix:
          os: [ubuntu-latest, windows-latest, macos-latest]
          node-version: [">=14"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup node environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Checkout code 
        uses: actions/checkout@v2
      
      - name: Install
        run: npm i

      - name: Build
        run: npm run build
